In [2]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)
myTuple = ("NPower","JDA","Tuesday",30,3,2021)
myTuple

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [3]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [4]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [5]:
#Q4 print the values in each index #Use regular indexing 
for i in range (len(myTuple)):
    print(myTuple[i])

NPower
JDA
Tuesday
30
3
2021

In [6]:
#Q5 print the values in each index #Use negative indexing 
i = len(myTuple)
while i!=0:
    print(myTuple[-i])
    i=i-1

NPower
JDA
Tuesday
30
3
2021

In [7]:
#Q6 what is the type of each value
for i in range (len(myTuple)):
    print(type(myTuple[i]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

In [8]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year accordingly 
# print the variables 
name,program,dayName,month,day,year = myTuple
print(name,program,dayName,month,day,year)

NPower JDA Tuesday 30 3 2021

In [9]:
#Q8 unpack myTuple2 in the follwoeing variablesname,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)

print('values before the second unpacking: ',name,program,dayName,month,day,year)
myTuple2=("Jerry",2,89)

name,program,dayName = myTuple2

print('values after the second unpacking: ',name,program,dayName,month,day,year)

values before the second unpacking:  NPower JDA Tuesday 30 3 2021
values after the second unpacking:  Jerry 2 89 30 3 2021

In [10]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan")#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'str'>
Ulan
Leul

In [11]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and holding different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [12]:
#Q9 Reverse myTuple, output should looks like ("NPower","JDA","Tuesday",30,3,2021)
reversed_tuple = tuple(reversed(myTuple))
reversed_tuple

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [13]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [14]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [15]:
#Q12 print each element in the nestedTuple
for i in range (len(nestedTuple)):
    for j in range (len(nestedTuple[i])):
        if isinstance(nestedTuple[i][j],tuple):
            for k in range (len(nestedTuple[i][j])):
                print(nestedTuple[i][j][k])
        else:
            print(nestedTuple[i][j])

Coursera
course
6
week
2
Lists
Tuple

In [16]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple'
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [17]:
#Q14 Access "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [18]:
#Q15 Access "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [19]:
#Q16 Access "course" from nestedTuple
nestedTuple[0][1]

'course'

In [20]:
#Q17 Concatenate myTuple with nestedTuple
myTuple = myTuple + nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [21]:
#Q18 add your name to the tuple
myTuple = myTuple + ('Saman',)
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Saman')

In [22]:
#Q19 check whether Coursera exists within a myTuple

# NOTE in doesn't work properly with nested tuples # Wrong output


# By iterating the nested tuples directly we can find the correct answer
result = False
first_index=None
second_index = None

for i in range (len(myTuple)):
    if 'Coursera' in myTuple:
        result = True
    elif isinstance(myTuple[i],tuple) and 'Coursera' in myTuple[i]:
        result = True
        first_index = i
        second_index = myTuple[i].index('Coursera')
    else:
        pass

    
result

True

In [23]:
#Q20 check whether an element exists within a testTuple
testTuple = (1,2,3,4,5,6)
6 in testTuple

True

In [24]:
#Q21 Find the index of JDA in myTuple
print(myTuple.index('JDA'))

# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output



# The index has been calculated in question 19.
print(f'the index of Coursera is myTuple[{first_index}][{second_index}]')

1
the index of Coursera is myTuple[6][0]

In [26]:
myTuple[6][0]

'Coursera'

In [27]:
#Q22 print index 8 from myTuple
myTuple[8]

'Saman'

In [28]:
#Q23 Get the 4th element and 4th element from last of a myTuple
myTuple[3],myTuple[len(myTuple)-4]

(30, 2021)

In [29]:
#Q24 Find how many times 27 appeared in the tuple [Hint: Use method count()]
myTuple.count(27)

0